*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer a{
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    color: orange;
    transition: .4s;
}

.footer li {
    list-style-type: none;
    margin-left: -30px;
}

.main {
    margin: 0 130px 0 130px;
}

.main a:hover {
    color: forestgreen;
}

.fa-heart:hover, .fa-user-group:hover, .fa-cart-shopping:hover {
    color: red;
    transition: .4s;
}

.card-product:hover {
    border-color: orange;
    transition: 0.4s;
    box-shadow: 0px 0px 5px 2px #cdcdcd;
}

h5 a:hover {
    color: aqua !important;
    transition: .3s;
    opacity: 0.7;
}

h5 a:hover {
    color: aqua !important;
    transition: .3s;
    opacity: 0.7;
}


